$primary-color: #2a4069;
$secondary-color: #19ff00;
$third-color: #eee;
$dark-color: #000;

* {
  padding: 0;
  margin: 0;
}

body {
  // background-color: $primary-color;
  background: $third-color;
  font-family: "Poppins", sans-serif;
}

body.dark-mode {
  background-color: $primary-color;
}

.navbar {
  // transition: all 0.5s;
  // background: transparent;
  background: $third-color;
  .nav-link {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      text-shadow: 0px 0px 30px $secondary-color;
      transition: all 0.2s ease-in;
    }
  }
}

.is-hidden {
  // opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.4s, opacity 0.2s;
}

.is-visible {
  transition: all 1s ease;
}

.navbar-scrolled {
  background-color: #fff;
  .nav-link {
    color: $primary-color;
  }
}

#header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: $primary-color;
  }
  .description {
    margin: 20px 0;
    font-size: 1.125rem;
    color: $dark-color;
  }
}

#features {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $dark-color;
  }
  .card {
    border: none;
    border-radius: 15px;
    background: linear-gradient(
      135deg,
      #2a4069 0%,
      #2a4069 35%,
      rgba(0, 0, 255, 0.5) 100%
    );
    box-shadow: 0 12px 20px 15px rgb(24 56 143 / 10%),
      0 -12px 20px 15px rgb(24 56 143 / 10%);
    padding: 30px 15px;
    height: 100%;
    .card-body {
      color: white;
      text-align: center;
      h4 {
        font-size: 1.25rem;
      }
    }
  }
}

#cta{
  background-color: $primary-color;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $third-color;
  }
  p{
    font-size: 1.125rem;
    color: $third-color;
    width: 75%;
    margin: 20px auto;
  }
  .card {
    border: none;
    background: linear-gradient(
      135deg,
      #2a4069 0%,
      #2a4069 35%,
      rgba(0, 0, 255, 0.25) 100%
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 50px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    
    padding: 20px;
    height: 100%;
    .card-body {
      color: white;
      text-align: center;
      .number-container {
        /* Style for the container that holds the number */
        width: 50px; /* Adjust the width as needed */
        height: 50px; /* Adjust the height as needed */
        background-color: $secondary-color; /* Change the background color as desired */
        text-align: center;
        line-height: 50px; /* Center the text vertically */
        border-radius: 50%; /* Make it a circle, assuming a square container */
        margin: 20px auto; /* Center the container within the parent element */
        margin-top: 0px;
      }
      
      .number {
        /* Style for the number itself */
        color: $primary-color; /* Text color */
        font-size: 24px; /* Adjust the font size as needed */
        font-weight: bold; /* Add bold style if desired */
      }
      
      h5 {
        font-size: 2rem;
        font-weight: bold;
      }
      p{
        font-size: 1.25rem;
      }
    }
  }
}

#tokenomics {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $dark-color;
  }
  .custom-background {
    background: linear-gradient(
      135deg,
      #2a4069 0%,
      #2a4069 35%,
      rgba(0, 0, 255, 0.5) 100%
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 50px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
  }
  
  .card {
    // border: 1px solid #ccc;
    border: none;
    background: transparent;
    border-radius: 0px;
    
    padding: 20px;
    height: 100%;
    .card-body {
      color: white;
      text-align: center;
      .card-text {
        font-size: 2.25rem;
        font-weight: bold;
      }
    }
  }
}

//Roadmap CSS

#roadmap {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $dark-color;
  }

  .card {
    background: linear-gradient(
      135deg,
      #2a4069 0%,
      #2a4069 35%,
      rgba(0, 0, 255, 0.5) 100%
    );
    border-radius: 15px;
    border: none;
    .card-body {
      h6 {
        color: $secondary-color;
        font-weight: 500;
        font-size: 1.5rem;
      }
      ul {
        color: white;
        font-size: 1.04em;
        line-height: 1.82em;
        font-weight: 300;
        #icon {
          color: $secondary-color;
          margin-right: 8px;
        }
      }
    }
  }

  .main-timeline {
    position: relative;
  }

  /* The actual timeline (the vertical ruler) */
  .main-timeline::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    width: 3px;
    height: 100%;
    border: 2.5px solid $secondary-color;
    border-radius: 15px;
  }

  /* Container around content */
  .timeline {
    position: relative;
    width: 50%;
  }

  /* The circles on the timeline */
  .timeline::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $third-color;
    border: 2px solid $secondary-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-sizing: content-box;
    right: -16px;
  }

  /* Place the container to the left */
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
    // border-style: solid;
    // border-width: 0px 0px 0px 8px;
    // border-color: $secondary-color;
    // width: 35%;
    // left: 13%;
  }

  /* Place the container to the right */
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
    // border-style: solid;
    // border-width: 0px 8px 0px 0px;
    // border-color: $secondary-color;
    // width: 35%;
    // right: 13%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid $primary-color;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $primary-color;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid $primary-color;
    border-width: 10px 10px 10px 0;
    border-color: transparent $primary-color transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -18px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timeline to the left */
    .main-timeline::after {
      left: 31px;
    }

    /* Full-width containers */
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
      left: 60px;
      border: medium solid $primary-color;
      border-width: 10px 10px 10px 0;
      border-color: transparent $primary-color transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 12px;
    }

    .left::before {
      right: auto;
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
}

#faq {
  background-color: $primary-color;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $third-color;
  }
  .accordion {
    --bs-accordion-bg: #eee;
    --bs-accordion-color: #000;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-color: #000;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: #000;
    --bs-accordion-btn-focus-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
    // filter: brightness(0) invert(1);
  }
}


footer {
  .nav-link {
    color: $primary-color;
  }
}

@media (max-width: 767px) {
  /* Rules for smartphones only */
  #header {
    height: auto;
    h2{
      font-size: 2.25rem;
    line-height: 2rem;
    }
  }
}
